/* .form {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-radius: 9px;
    border: 1px solid #E6E6E6;
    background: white;
    margin-bottom: 20px;
    padding: 13px 20px;
    box-sizing: border-box;
} */

.form {}